/* ----------------------------------------------------
// html elements
// --------------------------------------------------*/
html {
  background: url(/img/frosted.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #000000;
  font-size: 100%;
  font-family: 'Titillium Web', sans-serif;
}

ul {
  list-style-type: square;
}
legend {
  font-style: italic;
}

a:link, a:visited {
  text-decoration: none;
  color: #4EA6EA;
}

a:hover, a:active {
  text-decoration: underline;
  color: #900021;
}

input[type=text], input[type=password] {
  background-color: #000000;
  height: 17px;
  border: 0;
  margin: 5px;
  padding: 3px;
  box-shadow: 0 2px 0 0 #BBBBBB, 0 2px 0 0 #BBBBBB;
  -webkit-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #000000;
  color: #FFFFFF;
  outline: none;
  margin: 5px;
  padding: 3px;
  box-shadow: 0 2px 0 0 #333333, 0 2px 0 0 #333333;
}

input[type=submit] {
  background-color: #333333;
  color: #FFFFFF;
  font-weight: bold;
  font-size: small;
  padding: 0 5px 0 5px;
  margin: 5px;
  border-radius: 20px;
}

input[type=submit]:hover {
  background-color: #900021;
  color: #FFFFFF;
  font-weight: bold;
  font-size: small;
  padding: 0 5px 0 5px;
  margin: 5px;
  float: right;
  border-radius: 20px;
}

nav {
  clear: left;
  margin-top: 10px;
}

/* ----------------------------------------------------
// custom
// --------------------------------------------------*/
#logo {
  float: left;
  width: 300px;
  height: 200px;
  border: none;
}

#leftbar {
  float: left;
  width: 320px;
  min-height: 100%;
  border-right: 3px solid #000000;
}

#loginform {
  float: right;
  border: 1px solid #000000;
}

#content {
  left: 510px;
  margin: auto;
}


/* ----------------------------------------------------
// classes
// --------------------------------------------------*/
